* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
}

#weather {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

#content {
    text-align: center;
    width: 80%;
}

#clock {
    font-family: "Anton", sans-serif;
    font-size: 100px;
    font-style: normal;
    margin: 0px;
}

.hidden {
    display: none; 
}

#login-form {
    position: relative;
    margin-top: 10px;
}

#login_input {
    font-size: 20px;
    color: #222222;
    width: 35%;
    border: none;
    border-bottom: solid black 1px;
    padding-bottom: 5px;
    position: relative;
    background: none;
    z-index: 5;
}


#login_input::placeholder { color: #aaaaaa; }
#login_input:focus { outline: none; }

#login-form span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;  
    background-color: black;
    width: 0;
    height: 2px;
    border-radius: 2px;
    transform: translateX(-50%);
    transition: 0.5s;
}

label {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    position: absolute;
    color: gray;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    transition: all 0.2s;
}

#login_input:focus ~ label, #login_input:valid ~ label {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    bottom: 40px;
    color: black;
    font-weight: bold;
}
    
#login-form input:focus ~ span, #login-form input:valid ~ span {
    width: 35%;
}

#greeting {
    font-family: "Pacifico", cursive;
    font-weight: 80px;
    font-style: normal;
}

#todo-form input {
    text-align: center;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    background: #eee;
    padding: 16px;
    margin: 8px 0;
    width: 35%;
    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 3px 2px 6px #babebc, inset -4px -4px 4px #fff;  
}

#quote {
    margin-top: 10px;
    margin-bottom: 5px;
}

#quote span {
    padding-right: 5px;
    padding-left: 5px;
}

#todo-list {
    width: 30%;
    margin: auto;
    list-style: none;
}

#todo-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

button {
    border-radius: 5px;
    font-size: 10px;
    width: 20px;
    height: 20px;
}